@font-face {
    font-family: "Tinos";
    src: url("./fonts/Tinos/Tinos-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf");
}

html {
    font-size: 62.5%; /*Изменил размер по умолчанию, чтобы было удобно исп-ть rem*/
}
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 111rem;
    margin: 0 auto;
}
.header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 5rem;
}
.logo {
    max-width: 10rem; /*Стоит ли применять?*/
    max-height: 6.8rem;
    
}
.header_wrapper, .header_nav, 
.header_nav_list, .contacts, .contacts_phone {
    display: flex;
    justify-content: space-between;
}

.header_nav {
    margin-top: 0.5rem;
}
.header_nav_list {
    margin: 0;
    padding-top: 2.4rem;
    color: white;
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
}
.header_nav_item {
    margin-right: 2.5rem;
}
.header_nav_item:last-child {
    margin-right: 3.6rem;
}

.header_nav_link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.header_basket {
    height: 1.3rem;
    width: 1.3rem;
    margin-top: 0.2rem;
    margin-right: 5.2rem;
    padding-top: 2.3rem;
    cursor: pointer;
    position: relative;
}

.header_basket::after {
    content:'';
    height: 5.1rem;
    width: 0.1rem;
    background-color: #fff;
    position: absolute;
    top: 0.2rem;
    left: 3.5rem;
}

.Promo {
    padding: 32.2rem 0 30rem 0;
    background: url("/img/Promo/Promo_bg.png") no-repeat center/cover;
}

.promo_wrapper {
    color: red;
}

.contacts {
    margin-top: 0.5rem;
}

.contacts_phone_img {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 0.8rem;
}

.contacts_phone-link {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-size: 1.8rem;
    font-family: "Open Sans";
    font-weight: 700;
    
}

.contacts_descr {
    color: #fff;
    font-family: "Open Sans";
    font-style: normal;
    font-size: 1.4rem;
    max-width: 15.5rem;
}

.reservation-btn {
    width: 15.7rem;
    height: 4.7rem;
    background-color: #F7781AFF;
    text-transform: uppercase;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
    margin-left: 4.5rem;
    margin-top: 0.4rem;
}

