@font-face {
    font-family: "Tinos";
    src: url("./fonts/Tinos/Tinos-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf");
}

html {
    font-size: 62.5%; /*Изменил размер по умолчанию, чтобы было удобно исп-ть rem*/
}
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 111rem;
    margin: 0 auto;
}
.header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 5rem;
}
.logo {
    max-width: 10rem; /*Стоит ли применять?*/
    max-height: 6.8rem;
    
}
.header_wrapper, .header_nav, 
.header_nav_list, .contacts, .contacts_phone {
    display: flex;
    justify-content: space-between;
}

.header_nav {
    margin-top: 0.5rem;
}
.header_nav_list {
    margin: 0;
    padding-top: 2.4rem;
    color: white;
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
}
.header_nav_item {
    margin-right: 2.5rem;
}
.header_nav_item:last-child {
    margin-right: 3.6rem;
}

.header_nav_link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.header_basket {
    height: 1.3rem;
    width: 1.3rem;
    margin-top: 0.2rem;
    margin-right: 5.2rem;
    padding-top: 2.3rem;
    cursor: pointer;
    position: relative;
}

.header_basket::after {
    content:'';
    height: 5.1rem;
    width: 0.1rem;
    background-color: #fff;
    position: absolute;
    top: 0.2rem;
    left: 3.5rem;
}

.Promo {
    padding: 35rem 0 30rem 0;
    background: url("/img/Promo/Promo_bg.png") no-repeat center/cover;
    
    
}

.promo_wrapper {
    color: red;
}

.contacts {
    margin-top: 0.5rem;
}

.contacts_phone_img {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 0.8rem;
}

.contacts_phone-link {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-size: 1.8rem;
    font-family: "Open Sans";
    font-weight: 700;
    
}

.contacts_descr {
    color: #fff;
    font-family: "Open Sans";
    font-style: normal;
    font-size: 1.4rem;
    max-width: 15.5rem;
}

.reservation-btn {
    width: 15.7rem;
    height: 4.7rem;
    margin-left: 4.5rem;
    margin-top: 0.4rem;
}
.button {
    background-color: #F7781AFF; 
    text-transform: uppercase;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
}

.promo_wrapper {
    text-align: center;
    max-width: 55.6rem;
}

.Promo_header {
    font-size: 8rem;
    color: #D67E35;
    margin-top: 0rem;
    margin-bottom: 0;
}

.Promo_supheader {
    font-size: 5rem;
}

.Promo_subheader {
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 1.8rem;
    position: relative;
    margin-top: 12px;
}

.Promo_subheader::before {
    content: '';
    background-color: #fff;
    width: 6.2rem;
    height: 0.2rem;
    position: absolute;
    top: 1.1rem;
    left: 12rem;
}

.Promo_subheader::after {
    content: '';
    background-color: #fff;
    width: 6.2rem;
    height: 0.2rem;
    position: absolute;
    top: 1.1rem;
    right: 12rem;
}

.View-menu-btn {
    text-decoration: none;
    padding: 1.4rem 2.7rem;
    display: inline-block;
    margin-top: 3.5rem;
}


.advantages_wrapper {
    display: flex;
    justify-content: space-between;
}

.advantages_item {
    width: 32.8rem;
    text-align: center;
    background-color: #fff;
    margin-top: -10.7rem;
    padding-top: 4.8rem;
}

.advantages_icon {
    max-height: 8.7rem;
    max-width: 8.7rem;
    margin-bottom: 0px;
}
.advantages_title {
    font-size: 2.4rem;
    font-family: "Tinos";
    font-weight: 400;
    margin-top: 0rem;
}

.advantages_title-second-part {
    color: #BC9060;

}

.advantages_descr {
    font-size: 2.6rem;
    color: #656363;
    font-family: "Tinos";

}