@font-face {
    font-family: "Tinos", sans-serif;
    src: url("./fonts/Tinos/Tinos-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Cookie";
    src: url("./fonts/Cookie/Cookie.ttf");
}

html {
    font-size: 0.69445vw; /* 62.5% Изменил размер по умолчанию, чтобы было удобно исп-ть rem, значение
    для планшетов вычислил по формуле 10/(1440(эт ширина макет)/100)*/
}
body {
    margin: 0;
    padding: 0;
    
}
.container {
    width: 111rem;
    margin: 0 auto;
   
}
.title {
    font-family: "Tinos", sans-serif;
    font-weight: 400;
    font-size: 5.4rem;
    text-align: center;
}


.header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 5rem;
}
.logo_img {
    width: 10rem; /*Стоит ли применять?*/
    height: 6.8rem;   
}
.header_wrapper, .header_nav, 
.header_nav_list, .contacts, .contacts_phone, .header_info {
    display: flex;
    justify-content: space-between;
}

.header_nav {
    margin-top: 0.5rem;
}
.header_burger {
    display: none;
    width: 3.88rem;
    height: 0.325rem;
    background-color: #F7781AFF;
    border-radius: 50px;
    position: relative;
    margin-top: 2.5rem;
}

.header_burger:before {
    content: '';
    width: 3.88rem;
    height: 0.325rem;
    background-color: #F7781AFF;
    border-radius: 50px;
    position: absolute;
    top: -0.7rem;
    cursor: pointer;
}
.header_burger:after {
    content: '';
    width: 3.88rem;
    height: 0.325rem;
    background-color: #F7781AFF;
    border-radius: 50px;
    position: absolute;
    top: 0.7rem;
}
.header_nav_list {
    margin: 0;
    padding-top: 2.4rem;
    color: white;
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
}
.header_nav_item {
    margin-right: 2.5rem;
}
.header_nav_item:last-child {
    margin-right: 3.6rem;
}

.header_nav_link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
   
}

.header_basket {
    
    margin-top: 0.2rem;
    margin-right: 5.2rem;
    padding-top: 2.3rem;
    cursor: pointer;
    position: relative;
}

.header_basket-img {
    height: 1.3rem;
    width: 1.3rem;
}

.header_basket::after {
    content:'';
    height: 5.1rem;
    width: 0.1rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: -2.1rem;
    left: 3.5rem;
    transform: translateY(-50%);
}

.Promo{
    background: url("/img/Promo/Promo_bg.png") no-repeat center/cover;
    min-height: 65rem;
    padding-top: 32.2rem;
   
}

.contacts {
    margin-top: 0.5rem;
}

.contacts_phone_img {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 0.8rem;
}

.contacts_phone-link {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-size: 1.8rem;
    font-family: "Open Sans";
    font-weight: 700;
    white-space: nowrap;
}

.contacts_descr {
    color: #fff;
    font-family: "Open Sans";
    font-style: normal;
    font-size: 1.4rem;
    max-width: 15.5rem;
}

.header-btn {
    margin-left: 4.5rem;
    margin-top: 0.4rem;
}
.button {
    background-color: #F7781AFF; 
    text-transform: uppercase;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    width: 15.7rem;
    height: 4.7rem;
}

.promo_wrapper {
    text-align: center;
    max-width: 54rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Promo_header {
    font-size: 8rem;
    color: #D67E35;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.15;
}

.Promo_supheader {
    font-size: 5rem;
    color: #D67E35;
    line-height: 1.14;
    max-width: 43rem;
}

.Promo_subheader {
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 1.8rem;
    position: relative;
    margin-top: 1.2rem;
    line-height: 1.39;
}

.Promo_subheader:before, .Promo_subheader:after {
    content: '';
    background-color: #fff;
    width: 6.2rem;
    height: 0.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.Promo_subheader:before {
    left: 18rem;
}
.Promo_subheader::after {
    right: 18rem;
}

.View-menu-btn {
    text-decoration: none;
    padding: 1.4rem 2.7rem;
    display: inline-block;
    margin-top: 3.5rem;
}


.advantages_wrapper {
    display: flex;
    justify-content: space-between;
   
    margin-top: -11rem;
}
.advanatages_title-sec-part{
    color: #BC9060;
}
.advantages_item {
    width: 32.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.8rem 2rem 5.4rem;
    text-align: center;
    background-color: #fff;
    padding-top: 4.8rem 1rem 5.4rem;
    box-shadow: 1rem 1rem 4rem 2rem rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 115%;
}
.advantages_item:not(.advantages_item:last-child) {
    margin-right: 3rem;
} 


.advantages_icon-dish {
    height: 8.7rem;
    width: 8.7rem;
    
}

.advantages_title {
    font-size: 2.4rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-family: "Tinos", sans-serif;
    font-weight: 400;
}


.advantages_text {
    font-size: 2.6rem;
    color: #656363;
    font-family: "Tinos", sans-serif;
}
.history {
    padding-bottom: 12.2rem;
}
.history_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
}
.history_descr {
    margin-right: 12.5rem;
}
.history_title {
    margin-top: 1.6rem;
    margin-bottom: 2.1rem;
}

.title_second-part {
    color: #D67E34;
}

.history_text {
    font-size: 1.6rem;
    font-family: 'Open Sans', 'sans-serif';
    line-height: 136%;
    color: #656363;
    text-align: center;
}
.history_img {
    width: 53.9rem;
    height: 49.8rem;
}

.stat {
    margin-top: 7.6rem;
    display: flex;
    justify-content: center;
    
}
.stat_item {
    margin-right: 4rem;
    text-align: center;
}
.stat_item:last-child {
    margin-right: 0;
}
.stat_title-num {
    font-size: 4rem;
    color: #BC9060;
    font-family: 'Open Sans', 'sans-serif';
}
.stat_descr {
    font-size: 2rem;
    font-family: 'Open Sans', 'sans-serif';
}

.booking {
    background: url('img/Booking/booking_bg.png') no-repeat center/cover;
}
.booking_wrapper {
    display: flex;
    justify-content: space-between;
    
}
.booking-btn {
    margin: 15.5rem 0 0 0;
}
.booking_title {
    color: #D67E34; 
    font-size: 5.2rem;
    font-family: "Tinos", 'sans-serif';
    font-weight: 400;
    max-width: 60.1rem;
    margin: 0;
}
.booking_subtitle {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
    margin-top: 2rem;
}

.booking_cla {
    padding: 8rem 0 10.4rem 0;
}
.dishes {
    margin-top: 13.2rem;
    margin-bottom: 15rem;
}
.dishes_left-img {
    width: 44.5rem;
    height: 47.8rem;
    
}
.dishes_wrapper {
    margin-top: 13.9rem;
    display: flex;
    justify-content: space-between;
}
.dishes_right {
    width: 59.3rem;
    margin-right: 3rem;
    height: 47.8rem;
    overflow: hidden;
}
.tup {
    width: 65.4rem;
}
.dishes_item, .tup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.9rem;
}
.dishes_item-img {
    margin-right: 3rem;
    width: 16rem;
    height: 14rem;
    
}

.dishes_name, .dish_coin {
    font-size: 2.6rem;
}
.dishes_title {
    margin-bottom: 14rem;
    
}
.dishes_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.menu {
    background: url('./img/Menu/Our_menu_bg.png') no-repeat center/cover;
    padding-top: 10rem;
}
.menu_title {
    margin-top: 0;
    color: white;
    font-family: 'Tinos';
    font-weight: normal;
}
.menu_list {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 22.6rem;
}
.menu_item {
    background-color: #fff;
    padding: 8rem 3rem 0 3rem;
    text-align: center;
    width: 35rem;
    height: 45rem;
    position: relative;
}
.menu_img {
    position: relative;
}
.menu_dish-img {
    width: 22.5rem;
    height: 22.5rem;
    border-radius: 50%;
}
.menu_dish-price {
    color: #fff;
    background-color: #D67E34;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    text-align: center;
    border-radius: 100%;
    outline: 5px solid #fff;
    position: absolute;
    right: 3rem;
    top: 14rem;
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 2.5rem;
}

.menu_item-title {
    margin-top: 1.9rem;
    text-align: center;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 2.9rem;
}

.menu_subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: center;
    margin-top: 1.7rem;
}
.menu_btn {
    margin: 0 auto;
    margin-top: 1.6rem;
    text-align: center;
    width: 22rem;
    height: 5rem;
    color: #fff;
    background-color: #D67E34;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.6rem;
}
.recommend {
    display: none;
}
.active .recommend{
    width: 12.4rem;
    height: 3.6rem;
    background-color: #D67E34;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.recommend_text {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 400;
    padding: 0.8rem 1.2rem 1.2rem 1.3rem; 
}
.price_dollars {
    display: none;
}

@media (max-width: 80em) {
    html {
        font-size: 0.765vw; 
    }
}

@media (max-width: 48em) {
    html {
        /*для мобильных вычислил по формуле 5/(320 (ширина моб. макета)/100)*/
        font-size: 1.5625vw;
    }
    .container {
        padding: 0 4rem;
        width: calc(100% - 8rem);
        margin: 0;
    }
    .header {
        width: 100%;
        
    }
    .header_burger {
        display: block;
    }
    .header_info {
        display: none;
    }  
    .Promo {
        background: url("/img/Promo/Promo_mob_img.jpg") no-repeat center/cover;
        min-height: 65rem;
        padding-top: 32.2rem;
    }
    .Promo_subheader:before, .Promo_subheader:after {
        display: none;
    }
    .advantages_wrapper {
        flex-direction: column;
        align-items: center;
        
    }
    .advantages_item:not(.advantages_item:first-child) {
        margin-top: 2.8rem;
        margin-right: 0;
    }
    .advantages_title {
        font-size: 2.5rem;
    }
    .advantages_text {
        font-size: 2.1rem;
    }
    .history_wrapper, .stat, .booking_wrapper {
        flex-direction: column;
        align-items: center;
    }
    .history_descr {
        margin-right: 0;
    }
    .stat_item {
        margin-right: 0;
    }
    .stat_item:not(.stat_item:first-child) {
        margin-top: 2.2rem;
    }
    .stat {
        margin-bottom: 4.5rem;
    }
    .booking-btn {
       margin: 4.1rem 0 3rem 0;
    }
    .booking_cla {
        padding: 0;
        text-align: center;
    }
    .booking_title {
        margin-top: 2rem;
        text-align: center;
        font-size: 3rem;
        max-width: 19rem;
        margin: 2rem auto auto;
    }
    .booking_subtitle {
        font-size: 2.4rem;
        max-width: 29rem;
    }

    .dishes {
        margin-bottom: 0;
    }
    .dishes_wrapper {
        flex-direction: column;
    }
    .dishes_dotted {
        display: none;
    }

    .dishes_left-img {
        width: 100%;
        height: 70rem;
    }
    .dishes_right {
        margin-top: 6rem;
        height: 60rem;
    }
    .dishes_title  {
        margin-bottom: 5rem;
    }

    .dishes_menu {
        flex-direction: column;
    }

    .menu_item {
        display: none;
    }
    .menu_item.active {
        display: block;
    }

    .menu_list {
        padding-bottom: 10rem;
    }
    .menu_dish-price {
        right: 6rem;
    }
    .price_dollars {
        display: inline;
    }
    .price_roubles {
        display: none;
    }
    
}
